{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        {% if not categories %}
        <div class="alert alert-success" role="alert">
           Categories Not Available
        </div>
        {% endif %}
        {% for categorie in categories %}
        <div class="col-md-3 column productbox">
            <a href={% url 'categorylisting' categorie.name %}><img src= {{categorie.url}} class="img-fluid" alt="No Image"></a>
            <div class="producttitle"> <a href={% url 'categorylisting' categorie.name %}> {{ categorie.name }}</a></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}